.chats-matches-container {
    display: flex;
    gap: 2.5%;
    background-color: #111;
}

.matches-column {
    flex: 0 0 25%;
}

.messaging-column {
    flex: 0 0 40%;
}

.info-column {
    flex: 0 0 30%;
    background-color: #111;
    overflow-y: scroll;
    height: calc(100vh - 80px);
}

@media (max-width: 768px) {
    .chats-matches-container {
        display: block;
    }
    /* .messaging-column,
    .info-column {
        visibility: hidden;
        display: none;
        margin: 0;
        padding: 0;
    } */
}