.profiles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
}

.profile {
    width: 140px; /* Set a fixed width */
    height: 140px; /* Set a fixed height */
    padding: 4px;
    background-color: #faa805;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.prof-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
