.matches-messages-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 88px);
    background-color: black;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: black;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}

.tab.active {
    border-bottom: 2px solid #ffc57b;
    color: #ffc57b;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: black;
    overflow: scroll;
}

.tab.active:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffc57b;
    transition: width 0.3s;
}
