.matches-messages-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 88px);
    background-color: #111;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #111;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}

.tab.active {
    border-bottom: 2px solid #faa805;
    color: #faa805;
}

.content {
    flex: 1 1;
    padding: 20px;
    background-color: #111;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tab.active:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #faa805;
    transition: width 0.3s;
}

@media (max-width: 768px) {
    .matches-messages-container {
        width: 100%;
    }

    .content {
        padding: 0;
    }
}
