.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 108px);
    padding-top: 20px;
    background-color: black;
    position: relative;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: auto;
}

.chat-input {
    background-color: #111;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #faa805;
    border-radius: 0 0 5px 5px;
    position: sticky;
    bottom: 0;
}

.chat-input input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: black;
}

.chat-input button {
    background-color: #faa805;
    color: #111;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.message {
    max-width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
}

.sent {
    align-self: flex-end;
    background-color: #FAA805;
    color: #fff;
}

.received {
    align-self: flex-start;
    background-color:  #2a2a2a;
    color: white;
}

.back-btn{
    background: none;
    color: #FAA805;
    border: none;
    outline: none;
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 18px;
    visibility: hidden;
}

.info-btn {
    background: none;
    color: #FAA805;
    border: none;
    outline: none;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    visibility: hidden;
}

.msgs-name {
    margin: 0;
    margin-bottom: 8px;
}

.msgs-header {
    position: sticky;
    top: 0;
    background-color: black; /* Adjust the background color as needed */
    z-index: 100; /* Adjust the z-index as needed */
}

@media (max-width: 768px) {
    .messages-container {
        padding-top: 0;
    }

    .back-btn,
    .info-btn {
        visibility: visible;
    }
}