.profile-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    background-color: black;
    color: #fff;
    align-items: center;
}

.basic-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #faa805;
}

.basic-info p {
    font-size: 1.05rem;
}

.profile-info {
    width: 100%;
}

.info-carousel-container {
    width: 100%;
    height: 388px;
    overflow: hidden;
    margin: 0 auto;
}

.info-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-profile-image-box {
    width: 388px;
    height: 388px;
}

.info-carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    color: #fff;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}