.event-card-container .events-container {
  width: 35%;
  min-width: 350px;
  height: calc(100vh + 145px);
  overflow-y: auto;
  min-width: 300px;
  padding: 20px 0;
  background-color: black; /* Dark background */
}

.event-card-container .event-card {
  display: flex;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 15px;
  background-color: #2a2a2a; /* Darker card background for contrast */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  color: white; /* White text color for contrast */
}

.event-card-container .event-card:hover {
  border: 1px solid #faa805;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2); /* Inverse shadow color for dark theme */
  background-color: #333; /* Darker on hover */
  /* transform: translateY(-5px); */
}

.event-card-container.active {
  border: 1px solid #faa805;
}

.event-card-container .event-thumbnail {
  flex-shrink: 0;
}

.event-card-container .event-thumbnail img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.event-card-container .event-card-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.event-card-container .event-title {
  font-size: 20px;
  font-weight: bold;
  color: white; /* Text color for dark background */
  margin: 0;
}

.event-card-container .event-date,
.event-card-container .event-price,
.event-card-container .event-location,
.event-card-container .event-time {
  font-size: 16px;
  color: #aaa; /* Lighter gray for better readability against dark background */
  margin: 0;
}

.event-card-container .event-price::before {
  content: "💵 ";
  color: white; /* Text color for dark background */
}

.event-card-container .event-location::before {
  content: "📍 ";
  color: white; /* Text color for dark background */
}

.event-card-container .event-time::before {
  content: "⏰ ";
  color: white; /* Text color for dark background */
}
