.events-page {
  display: flex;
  align-self: start;
  background-color: #111;
}

.side-menu-container {
  flex: 0 0 15%;
}

.events-container {
  overflow-y: auto;
  height: calc(100vh - 200px);
  background-color: #111;
  color: white;
  flex: 0 0 30%;
  margin-top: 20px;
}

.create-event-details-container {
  flex: 0 0 55%;
}

.no-events-message {
  text-align: center;
}

.no-events-header {
  text-align: center;
}

.no-more {
  text-align: center;
}

@media (max-width: 768px) {
  .side-menu-container{
    position: absolute;
  }
  
  .events-container {
    flex: 0 0 100%;
    margin-top: 2px;
  }

  .secondary-header-events {
    padding: 5px 0;
  }
}