.secondary-header-events{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #111;
  width: 100%;
}

.search-bar {
  flex-grow: 1;
  text-align: center;
  margin-right: 20px;
}

.search-bar input {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  width: 70%;
  border: 2px solid #eee; /* Lighter border for dark background */
  color: white; /* White input text */
  background-color: #333; /* Darker input background */
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #555; /* Change color on focus */
}

.page-title {
  margin: 0;
}

.my-events-button,
.create-event-button {
  background: linear-gradient( to right, #faa805, #d47f00 );
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
}

.create-event-button:hover,
.my-events-button:hover {
  /* background: linear-gradient(
    to right,
    #d47f00,
    #faa805
  ); Reversed gradient on hover */
  background-color: #d47f00;
}

.create-event-button {
  margin-right: 20px;
}

.filter-icon {
  margin-left: 10px;
  visibility: hidden;
  display: none;
  /* background: linear-gradient( to right, #faa805, #d47f00 ); */
  background-color: #faa805;
  color: white;
  padding: 8px 25px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  margin-right: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
}

@media (max-width: 768px) {
  .secondary-header-events {
    padding: 7px 0;
  }

  .filter-icon {
    visibility: visible;
    display: block;
  }
}