.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #111;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  overflow-y: auto;
  height: 100vh;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  color: white;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.post-label {
  font-size: 18px;
  margin-bottom: 8px;
  color: white;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #777;
  background-color: #222;
  color: white;
  border-radius: 4px;
}

.submit-button,
.back-button {
  background: linear-gradient(45deg, #ffc700, #ffa000); /* Gold gradient */
  color: #000; /* Black text */
  border: 2px solid #faa805; /* Gold border */
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s; /* Smooth transition */
}

.submit-button:hover,
.back-button:hover {
  background: linear-gradient(
    45deg,
    #ffa000,
    #ffc700
  ); /* Reverse gold gradient on hover */
  border: 2px solid #faa805; /* Gold border */
}

.back-button {
  align-self: flex-start;
}

.description {
  height: fit-content;
  color: white;
}
