.forum {
  background-color: white;
  color: white;
  position: relative;
}

.forum-main-content {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
}

.side-menu {
  flex: 0 0 20%;
  height: 100vh;
  /* overflow-y: auto; */
  background-color: #111; /* Dark gray background for the sidebar */
  color: white;
}

.right-side-section {
  flex: 0 0 25%;
  height: 100vh;
  overflow-y: auto;
  background-color: #111; /* Dark gray background for the right side section */
  color: white;
  border-left: 1px solid #333; /* Slight border for separation */
}

.forum-content {
  flex: 0 0 50%;
  padding: 0 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #777 #111; /* Light gray thumb on dark gray track */
  height: calc(100vh - 145px);
  background-color: #111; /* Dark gray background */
}

.forum-content::-webkit-scrollbar-thumb {
  background-color: #777; /* Lighter gray scrollbar thumb */
  border-radius: 10px;
}

.forum-content::-webkit-scrollbar-track {
  background-color: #111; /* Dark gray scrollbar track */
}

@media (max-width: 768px) {
  .forum-main-content {
    flex-direction: column;
  }

  .side-menu {
    display: none;
  }

  .side-menu-visible .side-menu {
    display: block;
  }
  .right-side-section {
    display: none;
  }

  .forum-content {
    flex: 1;
    padding: 5px;
  }
}