.right-side-section-box {
  padding-right: 60px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: black;
}

.trending-talks,
.trending-tags,
.advertisement {
  margin-bottom: 20px;
}

.trending-talks h2,
.trending-tags h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white; /* Changed to white */
}

.trending-talks ul,
.trending-tags ul {
  list-style: none;
  padding: 0;
}

.trending-talks li,
.trending-tags li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 1rem;
  color: white; /* Changed text color to white */
}

.trending-tags li {
  font-weight: bold;
  color: white; /* Changed text color to white */
}

.advertisement img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  filter: grayscale(100%); /* Assuming you want the ad image in grayscale */
}

.advertisement p {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5px;
  color: lightgray; /* Adjusted to light gray for visibility on black */
}

.heart-icon {
  color: white; /* Changed to white */
}

.right-side-section {
  border: none;
  background-color: black;
}
