.secondary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black; /* Kept as black */
  width: 100%;
}

.Forumlogo {
  width: 130px;
  height: auto;
  filter: invert(
    1
  ); /* Keeps the logo as a white version on a black background */
}

.search-bar {
  flex-grow: 1;
  text-align: center;
}

.search-bar input {
  border-radius: 10px;
  padding: 7px;
  font-size: 17px;
  width: 80%;
  border: thin solid white; /* Remains white */
  background-color: black; /* Kept as black */
  color: white; /* Text color remains white */
}

.search-bar input::placeholder {
  color: #ffc57b; /* A lighter version of #faa805 for better visibility against black background */
  font-weight: 100;
}

.search-bar input:focus {
  border-color: white; /* Remains white */
  color: white; /* Text color remains white */
  outline: none;
}

.my-posts-button,
.create-post-button {
  background: linear-gradient(
    to right,
    #faa805,
    #d47f00
  ); /* Gradient using #faa805 and a darker version */
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-post-button:hover,
.my-posts-button:hover {
  background: linear-gradient(
    to right,
    #d47f00,
    #faa805
  ); /* Reversed gradient on hover */
}

.create-post-button {
  margin-right: 20px;
}
