.side-menu-box {
  padding-bottom: 60px;
  height: calc(100vh + 145px);
  padding-left: 60px;
  background-color: black; /* Set to black */
  color: white; /* Set text color to white */
  outline: none;
  box-shadow: none;
  background-image: none;
  overflow: hidden; /* This will hide any overflowing child elements */
}

.category-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; /* Changed to white */
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  margin-top: 8px;
}

.home {
  color: white; /* Changed to white */
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.category-content:hover {
  color: lightgray; /* Adjusted for visibility on black */
}

.category.active .category-content {
  color: #faa805; /* Adjusted for visibility on black */
}

/* Add this new style for the arrow icon */
.category-content .arrow {
  transition: transform 0.2s;
  position: absolute;
  right: 10px;
  color: white; /* Changed to white */
}

/* Rotate the arrow icon when the category is active */
.category.active .category-content .arrow {
  transform: rotate(90deg);
  color: #faa805;
}

.subcategory-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 10px;
  display: none;
  color: white; /* Set text color to white */
}

/* Display subcategories when the category is active */
.category.active .subcategory-list {
  display: block;
  color: #faa805;
}

.sub-tag {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: white; /* Changed to white */
  margin-top: 5px;
}

.sub-tag:hover,
.sub-tag.active {
  color: #faa805; /* Adjusted for visibility on black */
}

.tags-container {
  margin-left: 25px;
}

.icon-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: #faa805; /* Set text color to white */
}

.category-title {
  text-align: left;
  color: white; /* Set text color to white */
}
.category.active .category-title {
  color: #faa805;
}

.category-icon {
  width: 22px;
}

.sub-tag.active {
  color: #faa805; /* Adjusted for visibility on black */
  font-weight: 600;
}

.side-menu {
  border: none;
}
