.not-setup-container {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ready {
  font-size: 29px;
}

.click-below {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.join-btn {
  background-color: #faa805;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.profile-setup-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #faa805;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}

.pre-form {
  margin-top: 21vh;
}

.form-select {
  width: 108%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  /* White background color for consistency */
  color: #333;
  /* Dark text color for better contrast against white */
  font-size: 16px;
}

textarea {
  resize: none;
  /* Prevent manual resizing */
  overflow-y: auto;
  /* Enable vertical scrolling */
  max-height: 200px;
  /* Maximum height for a textarea */
}