.dating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(42, 42, 42);
  overflow: scroll;
  height: calc(100vh - 60px);
}

.top-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  background: none;
  border: none;
  font-size: 40px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 0 6px;
}

.button:hover {
  border: none;
  border-radius: 5px;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Slight highlight for hover effect */
}

.chat-icon {
  color: #faa805; /* Kept the blue color for specificity */
}

.full-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(42, 42, 42); /* Dark background maintained */
  height: calc(100vh - 60px);
}

.filters {
  margin-right: 50px;
}

.options {
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (max-width: 768px) {
  .full-box {
    flex-direction: column;
    background-color: black;
  }

  .top-buttons {
    flex-direction: row;
  }
  .filters {
    margin: 0;
  }

  .options{
    width: 100%;
    overflow-x: scroll;
  }
}