.select-box {
  min-width: fit-content;
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  background-color: #222;
  cursor: pointer;
  z-index: 1; 
  margin-top: 10px;
}

/* Add this media query for smaller screens */
@media (max-width: 768px) {
  .filter-fields {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 6px;
    z-index: 1; 
  }

  .select-box {
    margin: 0 5px 10px 0;
    z-index: 1;
  }
}