.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.select-box {
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: black; /* Switched to black */
  border: 1px solid white; /* Border changed to white for contrast */
  font-size: 18px;
  color: white; /* Text color switched to white for better visibility */
}
