.App {
  text-align: center;
}

body {
  overflow: hidden;
  background-color: black; /* Set body background to black */
  color: white; /* Set body text color to white */
}

::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black; /* Changed to black */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Ensure text remains white */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#APIResponse {
  font-weight: bolder;
  font-size: larger;
  color: white; /* Set to white */
}

header {
  background-color: black; /* Changed to black */
  color: white; /* Changed to white */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid #faa805; /* Adjusted to a visible color against black */
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 240px;
  margin-right: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white; /* Changed to white */
  font-size: larger;
}

.header-right {
  position: relative;
}

.account-button {
  background-color: #61dafb; /* Adjusted to a visible color against black */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}


.account-button {
  background-color: #faa805;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%); /* Initially off-screen */
  transition: transform 0.5s ease-in-out; /* Use transform for the sliding effect */
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu ul li {
  margin-bottom: 20px;
}

.mobile-menu a {
  font-size: 22px;
  text-decoration: none;
  color: #faa805;
  font-weight: 700;
}

.mobile-icon {
  visibility: hidden;
  font-size: 25px;
  margin-right: 10px;
}

.desktop-menu {
  position: absolute;
  right: 20px;
}

/* Show the mobile menu when it's visible */
@media only screen and (max-width: 768) {
  .mobile-icon {
    display: block;
    visibility: visible;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    transform: translateY(0); /* Slide in by changing translateY to 0 */
  }

  .logo {
    width: 150px;
  }
}

.close-btn {
  display: block;
  top: 20px;
  position: absolute;
  right: 30px;
  color: #faa805;
  outline: none;
  border: none;
  background: none;
  font-size: 25px;
}
